:root {
    --color-default: #e2eaf1;
    --color-primary: #242a78;
    --color-secondary: #160e39;
    --color-tertiary: #537c9c;

    --font-title: "Abril Fatface", serif;
    --font-para: "Noto Serif", serif;
    --font-slogan: "Roboto", sans-serif;
    --font-menu: font-family: "Mate", serif;
    --font-allargy: "Merienda", cursive;



    --margin_bot: 50px;
}
* {
    
    text-align: justify;
    text-justify: auto;
}

h2 {
    color: var(--color-primary);
}
.fine_script {
    font-family: var(--font-allargy);
    font-size: 90%;
}

/* navbar  */
.navbar {
    /* position: fixed; */ 

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(249, 250, 252);
    box-shadow: 0px 17px 48px -21px rgba(0, 0, 0, 0.2);
    margin-bottom: var(--margin_bot);
}

.navbar ul a {
    font-family: var(--font-main);
}

/* for hero page */
.jumbotron {
    color: white;
    background-image: linear-gradient(rgb(118, 127, 137), rgba(0, 0, 0, 0.7)), url(img/gallery/Mainchef_cooking.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
    margin-bottom: var(--margin_bot);
    /* start on top of screen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Aligns items to the top */
}

.jumbotron .container {
    /* ...existing styles... */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;  Aligns items to the top */
    align-items: center;
    /* Aligns items horizontally in the center */
}


.jumbotron .row {
    /* ...existing styles... */
    position: relative;
    /* Positions the row absolutely within the jumbotron */
    min-height: 100vh;
    align-items: center;
    /* Aligns items horizontally in the center */
    bottom: 0;
    /* Aligns the row to the bottom of the jumbotron */
    justify-content: center;
    /* Aligns items vertically in the center */
    align-items: center;
    /* Aligns items horizontally in the center */
}



.jumbotron h2 {
    justify-content: flex-start;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--font-main);
    color: var(--color-primary);
    /* text-shadow: 1px 1px 20px var(--color-tertiary); */
}

.jumbotron h2 span {
    color: var(--color-default);

}

.jumbotron h3 {
    color: var(--color-primary);
    /* text-shadow: 1px 1px 30px var(--color-tertiary); */
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron .order {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-default);
    background: var(--color-primary);
    box-shadow: 0 8px 28px rgba(153, 108, 108, 0.2);
}

.jumbotron .order:hover {
    background: rgba(206, 18, 18, 0.8);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}

.jumbotron .phone {
    font-weight: 500;
    margin-right: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.5s;
    color: var(--color-default);
    background: var(--color-primary);
    box-shadow: 0 8px 28px rgba(153, 108, 108, 0.2);
}

.jumbotron .phone:hover {
    background: rgba(206, 18, 18, 0.8);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}

/* about us */
.about_us {
    margin-bottom: var(--margin_bot);

}

.about_us h2 {
    font-family: var(--font-title);
    color: var(--color-primary);
}

.about_us p {
    font-family: var(--font-para);
}

.about_us .fine_script {

    font-family: var(--font-allargy);

}









/* Gallary */

#gallary_index {
    margin-bottom: var(--margin_bot)
}

.swiper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-pagination {
    margin-top: 20px;
    position: relative;
}



.swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

.swiper .swiper-slide-active {
    text-align: center;
}




/* Menu */
#menu_index {
    margin-bottom: var(--margin_bot);
}


/* Grid container */
.menu .grid {
    display: grid;
    gap: 1rem;
    text-align: center;
}


/* Card styling */
.menu .card img {
    width: 100%;
    height: auto;

}

/* Modal styling */
.menu .modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content styling */
.menu .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* This will center the content horizontally */
    justify-content: center;
    /* This will center the content vertically */
    width: auto;
    /* Adjust width based on content */
    max-width: 100%;
    /* Ensure it doesn't exceed the viewport width */
    max-height: 100%;
    /* Ensure it doesn't exceed the viewport height */
    overflow: hidden;
    /* Hide overflow */
}

/* Image styling within Modal Content */
.menu .modal-content img {
    display: block;
    max-width: 60%;
    /* Ensure it doesn't exceed the container width */
    max-height: 100%;
    /* Adjust the max-height as needed */
    object-fit: contain;
    /* Ensure the aspect ratio is preserved */
    align-items: center;
    margin: auto;
    /* This will center the image horizontally */
}

/* Heading and Paragraph styling within Modal Content */
.menu .modal-content h2,
.menu .modal-content p {
    margin: 10px 0;
    /* Add some spacing */
    text-align: center;
    width: 100%;
    /* Full width of the container */
}


.menu .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.menu .close:hover,
.menu .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.menu img {
    margin-bottom: 5px;
    border-radius: 15px;
    /* This will make the corners rounded */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* This will add a shadow */
}

.menu #categoryButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.menu #categoryButtons {
    margin-bottom: var(--margin_bot);
}

.menu .btn-primary {

    background-color: var(--color-primary) !important;
}


.menu h2,
p {
    font-family: var(--font-menu);
    text-align: center;

}
.menu .glightbox {
    text-decoration: none;
}
.menu .glightbox .gslide-image img {
   max-height: 80%;
}



.menu .card {
    border: none !important;
    text-decoration: none;
    /* This will remove the border */
}

.menu #allergy_info {
    font-family: var(--font-slogan);
}

/* Large screens */
@media (min-width: 992px) {
    .menu .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    .menu .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small screens */
@media (max-width: 767px) {
    .menu .grid {
        grid-template-columns: 1fr;
    }
}


/* contact us form */

/* #contact_us_index {

    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
} */

.contact_us {

    background: rgba(103, 134, 152, 0.6);
    border-radius: 16px;
    color: var(--color-default);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.45);
    padding: 30px;
    margin-bottom: var(--margin_bot);
    /* Black text */
}

.glass-form .form-control {
    color: rgb(103, 134, 152);
}

.glass-form input,
.glass-form textarea,
.glass-form .btn-primary {
    color: rgb(103, 134, 152);
    background: rgb(244, 244, 244);
    /* Light grey background with transparency */
}

.glass-form button {
    cursor: pointer;
    color: rgb(103, 134, 152);
    background: var(--color-default);
    /* Light grey background with transparency */
}

.glass-form button:hover {
    color: rgb(103, 134, 152);
    background: var(--color-tertiary);
    /* Light grey background with transparency */
}

/* Footer */

footer {
    margin-bottom: var(--margin_bot);
    /* background-color: var(--color-primary); */
    box-shadow: 0px -17px 48px -21px rgba(0, 0, 0, 0.2);
}

/* Align h5 and p elements within the footer */
footer h5,
footer p,
footer .footer_social {
    text-align: center;
    /* Align text to the left */
    position: relative;
    top: 0;
    margin-left: 15px;
    /* Add some left margin for spacing */
}

/* Ensure the columns are equally spaced */
footer .col-md-4 {
    display: flex;
    align-items: start;

}

/* Remove space between buttons */
footer .footer_social a {
    margin-right: 5px;
    /* Remove right margin */
}


.accessibility p {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    font-size: 9px;
}