:root {
    --color-default: #e2eaf1;
    --color-primary: #24185c;
    --color-secondary: #160e39;
    --color-tertiary: #537c9c;

    --font-main: "Teko", sans-serif;
    --font-sub: "Oswald", sans-serif;
    --font-body: "PT Serif" , serif;
    --font-bottom: "Crimson Text", serif;
}

h1, h2, h3 {

    font-family: var(--font-main);
}
p{
    font-family: var(--font-body);
}

.fine_script{
    font-family: var(--font-bottom);
    font-size: 90%;
}

/* for hero page */
.jumbotron {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/chef_photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
    margin-bottom: 50px;
    /* start on top of screen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Aligns items to the top */
}

.jumbotron .container {
    /* ...existing styles... */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;  Aligns items to the top */
    align-items: center; /* Aligns items horizontally in the center */
}


.jumbotron .row {
    /* ...existing styles... */
    position: relative; /* Positions the row absolutely within the jumbotron */
    min-height: 100vh;
    align-items: center; /* Aligns items horizontally in the center */
    bottom: 0; /* Aligns the row to the bottom of the jumbotron */
    justify-content: center; /* Aligns items vertically in the center */
    align-items: center; /* Aligns items horizontally in the center */
}



.jumbotron h2 {
    justify-content: flex-start;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--font-main);
    color: var(--color-primary);
    text-shadow:  1px 1px 20px var(--color-tertiary);
}

.jumbotron h2 span {
    color: var(--color-default);

}

.jumbotron h3 {
    color: var(--color-primary);
    text-shadow:  1px 1px 30px var(--color-tertiary);
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron .order {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-default);
    background: var(--color-primary);
    box-shadow: 0 8px 28px rgba(153, 108, 108, 0.2);
}

.jumbotron .order:hover {
    background: rgba(206, 18, 18, 0.8);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}

.jumbotron .phone {
    font-weight: 500;
    margin-right: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.5s;
    color: var(--color-default);
    background: var(--color-primary);
    box-shadow: 0 8px 28px rgba(153, 108, 108, 0.2);
}

.jumbotron .phone:hover {
    background: rgba(206, 18, 18, 0.8);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}




/* for smaller screen */